@model IEnumerable<MVC_Store.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

@if (TempData["SM"] != null)
{
    <div class="alert-success">
        @TempData["SM"]
    </div>
}

<a>
    @Html.ActionLink("Create New Page", "AddPage", "", new { @class = "btn btn-success" })
</a>
@if (!Model.Any())
{
    <h1 class="text-center">Нет страниц</h1>
}
else
{
    
    <table class="table sorting" id="pages">
        <tr>
            <th>
                Title
            </th>
            <th>
                Slug
            </th>

            <th>
                Sidebar
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSidebar)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                    @Html.ActionLink("Details", "PageDetails", new { id = item.Id })

                    <!---Если Slug равен Home не показывать кнопку удаления-->
                    @if (item.Slug != "home")

                    {
                        string slash = "| ";
                        @slash;
                        @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete" })
                    }
                </td>
            </tr>
        }
    </table>
    }

    @section Scripts
{

        <script>
            $(function () {
                /* Confirm page deletion */
                $("a.delete").click(function () {
                    if (!confirm("Confirm page deletion")) return false;
                });
                /*-----------------------------------------------------------*/
                /* Sorting script */
                $("table#pages tbody").sortable({
                    items: "tr:not(.home)",
                    placeholder: "ui-state-highlight",
                    update: function () {
                        var ids = $("table#pages tbody").sortable("serialize");
                        var url = "/Admin/Pages/ReorderPages";
                        $.post(url, ids, function (data) {
                        });
                    }
                });
            });
        </script>
    }
